.app {
  background-color: var(--royal-blue);
  color: var(--off-white);
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
  height: 100%;
}

@media (min-width: 500px) {
  .app {
    height: 100vh
  }

  .container {
    width: 500px;
    justify-content: space-evenly;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 600px;
  }
}

.app-header {
  padding: 1rem 0;
  text-align: center;
}

.app-header h1 {
  font-weight: 500;
}

.app-header p {
  line-height: 145%;
  padding-top: 10px;
  padding-bottom: 1rem;
}

.app-header p:last-of-type {
  font-style: italic;
  line-height: 145%;
}

@media (min-width: 800px) {
  .app-header h1 {
    font-size: 2.75rem;
    padding-bottom: 1.2rem;
  }

  .app-header p,
  #tagline {
    width: 75%;
    font-size: 1.125rem;
    margin: 0 auto;
  }
}

#face {
  width: 90%;
  height: auto;
  padding-bottom: 1rem;
}

@media (min-width: 500px) {
  #face {
    width: 70%;
    height: auto;
  }
}

@media (min-width: 800px) {
  #face {
    width: 50%;
    height: auto;
  }
}

#tagline {
  padding: 0.5rem;
  text-align: center;
}

#instructions {
  padding: 1.25rem 0;
  text-align: center;
  line-height: 145%;
}

@media (min-width: 500px) {
  #instructions {
    padding: 0;
    text-align: center;
  }
}

#start-btn {
  background-color: var(--off-white);
  color: var(--royal-blue);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin: 1rem auto;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

#start-btn:hover {
  background: #ffffff;
}