.quiz {
    background-color: var(--light-grey);
    color: var(--royal-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media (min-width: 500px) {
    .quiz {
        width: 500px;
        margin: 0 auto;
    }
}

#display {
    color: var(--grey);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

#display p {
    padding: 3px 0;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 70%;
    padding: 0 2rem;
}

@media (min-width: 500px) {
    .content {
        height: 75%;
    }
}

.message {
    max-width: 11rem;
    overflow-wrap: break-word;
    padding: 1rem 0.75rem;
    border-radius: 10px;
    color: black;
    margin-bottom: 0.75rem;
}

@media (min-width: 500px) {
    .message {
        max-width: 12rem;
    }
}

#question {
    align-self: flex-start;
    background-color: var(--light-blue);
    line-height: 125%;
    font-size: 18px;
}

@media (min-width: 500px) {
    #question {
        line-height: 130%;
    }
}

#human {
    align-self: flex-end;
    background-color: var(--light-purple);
    padding-right: 1rem;
    line-height: 125%;
    font-size: 18px;
}

#bot {
    align-self: flex-start;
    background-color: var(--light-blue);
    padding-right: 1rem;
    line-height: 125%;
    font-size: 18px;
}

/* Submit */
.user-submit {
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--royal-blue);
    border-radius: 8px;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    margin: 0 auto;
}

.user-submit input {
    font-size: 16px;
    min-width: 10rem;
    margin-right: 1.25rem;
    border-bottom: 1px dashed var(--royal-blue);
}

.user-submit button {
    font-size: 16px;
    background-color: var(--royal-blue);
    color: var(--off-white);
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
}

.user-submit input::placeholder {
    font-size: 16px;
    color: var(--royal-blue);
    text-align: left;
}

#reminder {
    text-align: center;
    padding: 1.5rem 0;
    margin: 0 auto;
    font-size: 12px;
}

@media (min-width: 450px) {
    .user-submit {
        padding: 0.6rem 1rem;
        margin-bottom: 1rem;
    }

    .user-submit input {
        min-width: 12rem;
        font-size: 0.9rem;
    }

    .user-submit button {
        border-radius: 4px;
        padding: 8px 15.5px;
        font-size: 0.9rem;
    }

    #reminder {
        padding: 0;
        margin-bottom: 1rem;
    }
}

/* The End */
.top {
    text-align: center;
    line-height: 300%;
}