.quiz {
    background-color: var(--light-grey);
    color: var(--royal-blue);
    display: flex;
    flex-direction: column;
    height: 100vh
}

@media (min-width: 500px) {
    .quiz {
        width: 500px;
        margin: 0 auto;
    }
}

#display {
    color: var(--grey);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

#display p {
    padding: 3px 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 800px;
    height: 70%;
    padding: 0 2rem;
}

@media (min-width: 500px) {
    .content {
        height: 75%;
    }
}

.message {
    max-width: 10rem;
    padding: 1rem 0.75rem;
    border-radius: 10px;
    color: black;
}

#question {
    align-self: flex-start;
    background-color: var(--light-blue);
    line-height: 125%;
}

#message1 {
    align-self: flex-end;
    background-color: var(--light-purple);
    padding-right: 1rem;
    line-height: 125%;
}

#message2 {
    align-self: flex-start;
    background-color: var(--light-blue);
    padding-right: 1rem;
    line-height: 125%;
}

/* Submit */
.user-submit {
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--royal-blue);
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    margin: 2rem auto;
}

.user-submit input {
    min-width: 10rem;
    margin-right: 1.25rem;
    border-bottom: 1px dashed var(--royal-blue);
}

.user-submit button {
    background-color: var(--royal-blue);
    color: var(--off-white);
    border-radius: 5px;
    padding: 7.5px 15px;
}

.user-submit input::placeholder {
    color: var(--royal-blue);
    text-align: left;
}

@media (min-width: 400px) {
    .user-submit {
        padding: 0.6rem 1rem;
        margin-bottom: 2.5rem;
    }

    .user-submit input {
        min-width: 12rem;
        font-size: 0.9rem;
    }

    .user-submit button {
        border-radius: 4px;
        padding: 8px 15.5px;
        font-size: 0.9rem;
    }
}

/* The End */
.end {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 68vh;
}

.end p {
    font-size: 0.8rem;
}

.top {
    text-align: center;
    line-height: 300%;
}

.middle {
    text-align: center;
    line-height: 175%;
}

.share {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: fit-content;
    line-height: 150%;
    font-weight: 500;
    padding: 0.8rem 0.6rem;
    border: 2px dashed white;
}

#copy {
    cursor: pointer;
    padding: 6px 2px 1px 6px;
}

#copy:hover {
    opacity: 0.7;
    border-radius: 5px;
    background: #EFEFEF;
    box-shadow: inset 5px 5px 5px #cdcdcd,
        inset -5px -5px 5px #ffffff;
}

#icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#copied {
    text-align: center;
    padding-top: 5px;
    font-weight: 400;
}

#copied p {
    font-size: 0.7rem;
}

@media (min-width:500px) {
    .end {
        padding: 4rem 0;
    }

    .end p {
        font-size: 1rem;
    }

    .share {
        width: 60%;
        padding: 1rem;
    }

    #copy {
        border-radius: 3px;
        padding: 9px 7px 4px 9px;
        background: #EFEFEF;
        box-shadow: 5px 5px 11px #cbcbcb,
            -5px -5px 11px #ffffff;
    }

    #copied p {
        font-size: 0.8rem;
    }
}