:root {
  --royal-blue: #12558A;
  --off-white: #F5F5F5;
  --light-blue: #E7F5FF;
  --light-grey: #EFEFEF;
  --light-purple: #C4C4FF;
  --grey: #4E4E4E;
}

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}